<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p>We are a group of people that seek continuous improvement of quality of people's life through parkour and movement in general. We have traveled around to world to learn, make bonds with movement communities and improve ourselves to offer the best experience to our clients.</p>
                <!--   <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
