<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <a href="https://facebook.com/InnerMovementProject">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <a href="https://instagram.com/innermovementpk">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <a href="mailto:innermovementproject@gmail.com">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <a href="https://youtube.com/channel/UCo6OJX0B2XILiq6nRkWk1SQ">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
