<section id="horario">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Clases</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>El horario de del mes de abril es el siguiente:<br>
                <br>
                <b>Lunes 3 y 17:</b> Skate park de San Miguel - Malecón Bertolotto<br>
                <b> Lunes 10 y 24:</b> Skate park de Miraflores<br>
                <b>Jueves:</b> Minigimnasio de la Residencial San Felipe  - Jesús María<br>
                <br>
                <b>Clases disponibles:</b><br>
                <b> Parkour Fundamentos</b> 6:00 - 7:00 pm <br>
                <b> Parkour "All - Round"</b> 7:10pm - 8:10pm <br>
                <br>
                <b>Costo por clase:</b> 15 soles</p>
            </div>
        </div>
    </div>
</section>
