<section class="no-padding" id="referencia">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.google.com.pe/maps/place/%C3%93valo+Guti%C3%A9rrez,+Miraflores+Lima+18/@-12.1103242,-77.0395245,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c83f184db09b:0x33ab52224652fe83!8m2!3d-12.1103242!4d-77.0373358?hl=en" class="portfolio-box">
                    <img src="img/portfolio/clases-4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Lunes
                            </div>
                            <div class="project-name">
                                Ovalo Gutierrez
                            </div>
                            <div>
                             <i class="fa fa-map-maker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.google.com.pe/maps/place/Complejo+Deportivo+Skate+Park/@-12.1173168,-77.0486731,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c8305e68eb17:0x8fe33245fc870abb!8m2!3d-12.1173168!4d-77.0464844?hl=en" class="portfolio-box">
                    <img src="img/portfolio/clases-3.jpg"  class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Jueves 
                            </div>
                            <div class="project-name">
                                Skate park Miraflores
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
