<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre nosotros</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p>Somos un grupo de personas interesadas en mejorar la calidad de la vida de las personas mediante la práctica del parkour y el movimiento en general. Hemos viajado por muchos por países para aprender, crear lazos con comunidades de parkour, yoga, calistenia y otras disciplinas, para mejorar como guías y ofrecer la mejor experiencia a nuestros clientes.</p>
                <!--   <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
