<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BE PART OF THIS LIFETIME ADVENTURE</h1>
            <hr>
            <p>El Parkour es nuestra pasión. Disfrutamos aprender, investigar e incentivar el movimiento de calidad. Trabajamos para incorporar el parkour como estilo de vida y mejorar la calidad de vida de nuestros clientes.</p>
            <a href="{{site.url}}/clases" class="btn btn-primary btn-xl page-scroll">Entrena con nosotros</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">¿Quienes somos?</a>
        </div>
    </div>
</header>
